/* reset css*/
*{
	margin:0;
	padding:0;
	list-style:none;
	vertical-align:baseline;
	box-sizing: border-box;
}

/* clear */
header::after, section::after, div::after, footer::after{
	content: '';
	clear: both;
	display: block;
	height: 1px;
	visibility: hidden;
}

/* Tipografia */
@font-face {
     font-family: 'Open Sans';
     src: url('../fonts/OpenSans-Light.ttf'), url('../fonts/OpenSans-Light.ttf'), url('../fonts/OpenSans-Regular.ttf'), url('../fonts/OpenSans-Semibold.ttf'), url('../fonts/OpenSans-Bold.ttf');
}
body{
	font-family: 'Open Sans',Arial,sans-serif;
	font-size: 15px;
	line-height: 1.42;
}
h1, h2, h3, h4, h5, h6{
	margin: 10px 0px 10px 0px;
	line-height: 1.1;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}

/* Header */
header > ul {
    display: inline-block;
}
#menu-main ul li {
    display: inline-block;
    padding: 10px 10px 10px 10px;
}

/* Breadcrumb */
.page-breadcrumb > h1,.page-breadcrumb > div{
    display: -webkit-inline-box;
}
.page-breadcrumb > div{
	float: right;
}
.page-breadcrumb > div > a::after {
    content: '»';
    padding-left: 5px;
}

/* Body */
.container {
    margin: 0 auto;
    padding: 1rem 3rem 1rem 3rem;
}
/* Cols */
.col-2, .col-3, .col-4, .col-6{
    float: left;
    padding: 0px 15px 0px 15px;
}
.col-2 {
    width: 50%;
}
.col-3 {
    width: 33.33%;
}
.col-4 {
	width: 25%;
}
.col-6 {
	width: 16.66%;
}

/* Botoes */
.btn {
    background-color: #b9b9b9;
    border-radius: 3px;
    box-shadow: 0px 5px 0px #a1a1a1;
    color: #000;
    display: inline-block;
    font-weight: bold;
    margin-top: 15px;
    padding: 10px 20px 10px 20px;
    position: relative;
    top: 0;
    transition: all 0.3s;
}
.btn:hover {
    box-shadow: none;
    top: 5px;
    transition: all 0.3s;
}

/* Footer */
footer{
	margin-top: 40px;
}
footer > .copyright {
    background: #a1a1a1;
    color: #000;
    font-weight: bold;
    text-align: center;
}